HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Compiled Class & Java Packages ###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### JVM Crash Logs ###
hs_err_pid*
replay_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Legacy Java IDEs (BlueJ & J2ME) ###
*.ctxt
.mtj.tmp/

# Secrets & Local Environment Configs
.env
.env.local
*.env

# Build & OS Junk
.DS_Store
*.log
